<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfollio</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/main.js" defer></script>
</head>
<body>
    <h1>virsraksts</h1>
    <button onclick="window.location.href = 'about.html'"> See info:</button>
    <button onclick="lalala()">colour change</button>
    <ol>
        <li>we</li>
        <li>didnt</li>
        <li>start</li>
        <li>the</li>
        <li>fire</li>
    </ol>
    <img src="https://www.tori.ng/userfiles/image/2017/dec/06/burning-House.jpg">
</body>
</html>